.App {
  text-align: center;
}

/* centering everything that passes through this className */
.center { 
  display: flex;
  justify-content: center;
}

/* defining the status of the particles to make sure they are fixed no matter the screen dynamics.  */
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* makes sure the particles background stays fixed behind . the layer is -1*/
}


.square {
  height: 50px;
  width: 50px;
  outline-style: solid;
  outline-color: #7220c9;
}